/***********
Main styling
************/

body {
    margin: 0;
    padding: 0;

.App {
        display: flex;
    }

.App .search {
    height: 40px;
    padding: 20px;
    width: 80%;
    }





/***********
Media Query
***********/

@media only screen and (max-device-width: 480px) {

body {
    margin: 0;
    padding: 0;
    background: #ccc;
    }    

